@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
.container-page{
    text-align: center;
}
.date-page{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px;
    border: 1px solid salmon;
    font-size: 27px;
    font-weight: bold;
    font-family:'Poppins',sans-serif;
    font-variant: small-caps;
    padding: 5px;
    background-color: none;

}
.text{
    font-size: 25px;
    font-weight: bold;
}